@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-button-next,
.swiper-button-prev {
    color: #fff; /* Make sure they are visible */
    opacity: 1;
}

@keyframes spin-1 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes spin-2 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes spin-3 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes spin-4 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes spin-5 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes spin-6 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes spin-7 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes spin-8 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.animate-spin-1 {
    animation: spin-1 30s linear infinite;
}
.animate-spin-2 {
    animation: spin-2 60s linear infinite;
}
.animate-spin-3 {
    animation: spin-3 65s linear infinite;
}
.animate-spin-4 {
    animation: spin-3 80s linear infinite;
}
.animate-spin-5 {
    animation: spin-3 100s linear infinite;
}
.animate-spin-6 {
    animation: spin-3 120s linear infinite;
}
.animate-spin-7 {
    animation: spin-3 130s linear infinite;
}
.animate-spin-8 {
    animation: spin-3 140s linear infinite;
}

/* *{
    outline: 3px green solid;
} */